@use "../util/" as *;

.nft {
  border-radius: 16px;

  &__link {
    position: relative;
    display: flex;
    cursor: pointer;
    margin-bottom: rem(18);
  }

  &__link::before {
    border-radius: rem(10);
    content: "";
    background-color: var(--cyan);
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    transition: 0.3s ease-in-out;
  }

  &__link:hover::before {
    opacity: 0.6;
    border-radius: rem(10);
  }

  &__link::after {
    border-radius: rem(10);
    content: "";
    background-image: url("../images/icon-view.svg");
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.3s ease-in-out;
  }

  &__link:hover::after {
    opacity: 1;
  }

  &__image {
    border-radius: rem(10);
    width: 100%;
  }

  &__name:hover,
  &__creator--name:hover {
    cursor: pointer;
    color: var(--cyan);
  }

  &__name {
    margin-bottom: rem(16);
  }

  &__description {
    color: var(--soft-blue);
    line-height: 1.4;
    margin-bottom: rem(24);
  }

  &__value {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding-bottom: rem(16);
    border-bottom: 1px solid var(--very-dark-blue-line);
    margin-bottom: rem(16);
  }

  &__price {
    color: var(--cyan);
    letter-spacing: 0.1rem;
    font-size: rem(16);
    display: flex;
    font-weight: bold;
    align-items: center;

    img {
      margin-right: rem(8);
    }
  }

  &__time {
    color: var(--soft-blue);
    display: flex;
    align-items: center;
    font-size: rem(16);

    img {
      margin-right: rem(8);
    }
  }

  &__creator {
    display: flex;
    align-items: center;
    &--image {
      border: 1px solid var(--white);
      border-radius: 50%;
      width: 32px;
      margin-right: rem(16);
    }

    &--sponsor {
      color: var(--soft-blue);
    }
    &--name {
      font-size: rem(16);
    }
  }
}
